/Leandro/Java/Leccion02/BloquesInicializacion/nbproject/private/
/Leandro/Java/Leccion02/Enumeraciones/nbproject/private/
/Leandro/Java/Leccion04/Sobreescritura/build/
/Leandro/Java/Leccion04/InstanceOff/nbproject/private/
/Leandro/Java/Leccion04/InstanceOff/build/
/Leandro/Java/Leccion04/ClaseObject/nbproject/private/
/Leandro/Java/Leccion04/ClasesAbstractas/nbproject/private/
/Leandro/Java/Leccion04/ConversionObjetos/nbproject/private/
/Leandro/Java/Leccion04/ClaeObject/nbproject/private/
/Leandro/Java/Leccion04/ClasesAbstractas/build/
